<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shbus.easybus.oracle.TInterfaceAccountTempMapper" >
  <resultMap id="BaseResultMap" type="com.shbus.easybus.oracle.TInterfaceAccountTemp" >
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="SUPPLIERINFO_ID" property="supplierinfoId" jdbcType="VARCHAR" />
    <result column="PWD" property="pwd" jdbcType="VARCHAR" />
    <result column="IP_LIST" property="ipList" jdbcType="VARCHAR" />
    <result column="USER_INFO" property="userInfo" jdbcType="VARCHAR" />
    <result column="CHANNEL_ID" property="channelId" jdbcType="DECIMAL" />
    <result column="ID" property="id" jdbcType="DECIMAL" />
    <result column="VALID" property="valid" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    USER_ID, SUPPLIERINFO_ID, PWD, IP_LIST, USER_INFO, CHANNEL_ID, ID, VALID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shbus.easybus.oracle.TInterfaceAccountTempExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from INTERFACE_ACCOUNT_TEMP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.shbus.easybus.oracle.TInterfaceAccountTempExample" >
    delete from INTERFACE_ACCOUNT_TEMP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shbus.easybus.oracle.TInterfaceAccountTemp" >
	<selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE">
		SELECT TABLE_SEQ.NEXTVAL FROM DUAL
	</selectKey>
  
    insert into INTERFACE_ACCOUNT_TEMP (USER_ID, SUPPLIERINFO_ID, PWD, 
      IP_LIST, USER_INFO, CHANNEL_ID, 
      ID, VALID)
    values (#{userId,jdbcType=VARCHAR}, #{supplierinfoId,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, 
      #{ipList,jdbcType=VARCHAR}, #{userInfo,jdbcType=VARCHAR}, #{channelId,jdbcType=DECIMAL}, 
      #{id,jdbcType=DECIMAL}, #{valid,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shbus.easybus.oracle.TInterfaceAccountTemp" >
    insert into INTERFACE_ACCOUNT_TEMP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="supplierinfoId != null" >
        SUPPLIERINFO_ID,
      </if>
      <if test="pwd != null" >
        PWD,
      </if>
      <if test="ipList != null" >
        IP_LIST,
      </if>
      <if test="userInfo != null" >
        USER_INFO,
      </if>
      <if test="channelId != null" >
        CHANNEL_ID,
      </if>
      <if test="id != null" >
        ID,
      </if>
      <if test="valid != null" >
        VALID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="supplierinfoId != null" >
        #{supplierinfoId,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="ipList != null" >
        #{ipList,jdbcType=VARCHAR},
      </if>
      <if test="userInfo != null" >
        #{userInfo,jdbcType=VARCHAR},
      </if>
      <if test="channelId != null" >
        #{channelId,jdbcType=DECIMAL},
      </if>
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shbus.easybus.oracle.TInterfaceAccountTempExample" resultType="java.lang.Integer" >
    select count(*) from INTERFACE_ACCOUNT_TEMP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update INTERFACE_ACCOUNT_TEMP
    <set >
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierinfoId != null" >
        SUPPLIERINFO_ID = #{record.supplierinfoId,jdbcType=VARCHAR},
      </if>
      <if test="record.pwd != null" >
        PWD = #{record.pwd,jdbcType=VARCHAR},
      </if>
      <if test="record.ipList != null" >
        IP_LIST = #{record.ipList,jdbcType=VARCHAR},
      </if>
      <if test="record.userInfo != null" >
        USER_INFO = #{record.userInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.channelId != null" >
        CHANNEL_ID = #{record.channelId,jdbcType=DECIMAL},
      </if>
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.valid != null" >
        VALID = #{record.valid,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update INTERFACE_ACCOUNT_TEMP
    set USER_ID = #{record.userId,jdbcType=VARCHAR},
      SUPPLIERINFO_ID = #{record.supplierinfoId,jdbcType=VARCHAR},
      PWD = #{record.pwd,jdbcType=VARCHAR},
      IP_LIST = #{record.ipList,jdbcType=VARCHAR},
      USER_INFO = #{record.userInfo,jdbcType=VARCHAR},
      CHANNEL_ID = #{record.channelId,jdbcType=DECIMAL},
      ID = #{record.id,jdbcType=DECIMAL},
      VALID = #{record.valid,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>