<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<mappers>
		<!-- <mapper resource="sqlmaps/TSysChinaRegionMapper.xml" />
		<mapper resource="sqlmaps/TSysChannelMapper.xml" />
		<mapper resource="sqlmaps/TInterfaceAccountMapper.xml" /> -->
		
		<mapper resource="sqlmaps/TExBusOrderMapper.xml" />
		
	</mappers>

</configuration>
